<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="test1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <test1.Properties.Settings>
            <setting name="IsCustomFigure" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CxValue" serializeAs="String">
                <value>-0.7</value>
            </setting>
            <setting name="CyValue" serializeAs="String">
                <value>0.27015</value>
            </setting>
            <setting name="IsFloatingFigure" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SpeedValue" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SizeValue" serializeAs="String">
                <value>2</value>
            </setting>
        </test1.Properties.Settings>
    </userSettings>
</configuration>